body {

	margin-left: 80px;
}

h1 { 
	border: 3px solid rgba(40,40,40, .5);
	font-family : Verdana;
	font-weight: bold;
	padding-left: 40;
	
	font-size: 30px;
	margin-top: 1em;
	margin-btm: 1em;
	margin-right: 10em;
}

h2 {
	font-family : Verdana;
	font-weight: bold;
	text-align: left;
	padding-left: 20px;
	font-size: 20px;
	margin-top: 2em;
	margin-btm: -1em;
}

h3 {
	font-family : Verdana;
	font-weight: bold;
	text-align: left;
	padding-left: 40px;
	font-size: 18px;
	margin-top: 2em;
	margin-btm: -1em;
} 

h4{
	font-family : Verdana;
	font-weight: bold;
	text-align: left;
	padding-left: 60px;
	font-size: 13px;
	margin-top: 1em;
	margin-btm: -1em;
}

p {
	font-family : Verdana;
	text-align: left;
	padding-left: 80px;
	font-size: 12px;
	margin-top: -1em;
	margin-btm: -1em;
	
}

.button {
	display: block;
	height: 30px;
	width: 250px;
	border: 2px solid rgba(40,40,40, .5);
	color: rgba(0,0,0,0.5);
	text-align: center;
	font: 1em/30px Verdana;
	margin-left: 100px;
	margin-top: 5px;

}

a.button {
	text-decoration: none;
}

